<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MasterConnection"
         connectionString="Server=DESKTOP-1N4HJPM;Integrated Security=true;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />

    <add name="DemonstrationDB"
         connectionString="Server=DESKTOP-1N4HJPM;Database=DemonstrationDB;Integrated Security=true; TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
